#!jinja2    

    # ------------------------------------------------------------
    # Task definitions for the JEDI cycle
    # ------------------------------------------------------------


    [[SetupJEDI]]
        title = "Create the JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for particular cycle and configuration
        """
        pre-script = """
            . ${SCRIPT_DIR}/setup.sh
            . ${SCRIPT_DIR}/setupjedi.sh
            """
        [[[environment]]]
            OPTS = ("vertlayer:full"  "use_compress:1"  "super_ref_qc:NBAM"  "sr_steps:2")

    [[PrepJEDI]]
        inherit = SetupJEDI
        title = "Create the JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for particular cycle and configuration
        """
        script = """
            [[ ! -d ${rundir} ]]       &&  mkdir -p ${rundir}
            [[ ! -d ${rundir}/log ]]   &&  mkdir -p ${rundir}/log
            [[ ! -d ${hofxout} ]]      &&  mkdir -p ${hofxout}
            [[ ! -d ${analysisout} ]]  &&  mkdir -p ${analysisout}
            [[ ! -d ${DATA_DIR} ]]     &&  mkdir -p ${DATA_DIR}
            [[ ! -d ${BUMP_DIR} ]]     &&  mkdir -p ${BUMP_DIR}

            # ensemble members and initial restart are symbolic link
            [[ -L ${DATA_DIR}/ens_c384 ]]     &&  rm -rf ${DATA_DIR}/ens_c384
            ln -sf /work/noaa/da/fvandenb/data_from_hera/enkfgdas ${DATA_DIR}/ens_c384

            # link the observation data
            ln -sf /work/noaa/da/hailingz/work/c2nwp/Data/ioda2 ${DATA_DIR}/.

            # link the static background error
            ln -sf /work/noaa/da/hailingz/work/c2nwp/Data/bump/${BUMP_name} ${BUMP_DIR}/.

            # call templating script
            sh ${TEMPLATE_DIR}/template_${DAmethod}_yaml.sh "${OPTS[@]}"
            cp 3dhyb.yaml ${TOP_DIR}/${CDATE}/.
            cp job_${CDATE}.sh ${TOP_DIR}/${CDATE}/.
        """ 

        [[[environment]]]
            rundir = ${TOP_DIR}/${CDATE}    # can use cylc workdir?
            hofxout = ${rundir}/output/hofx
            analysisout = ${rundir}/output/RESTART
            BKG_path = ${TOP_DIR}/${PREDATE}/atmos/RESTART
            ENS_path = ${DATA_DIR}/ens_c${RES}/enkfgdas.${yyyymmdd_pre}/${hh_pre}

        [[[job]]]
            batch system = background

    [[ColdPrepJEDI]]
        inherit = PrepJEDI
        title = "Create the Initial time JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for particular cycle and configuration
        """
        [[[environment]]]
            BKG_path  =  ${DATA_DIR}/ens_c${RES}/enkfgdas.${yyyymmdd_pre}/${hh_pre}/mem001/RESTART


    [[RunJEDI]]
        inherit = SetupJEDI
        title = "Run the JEDI observation processing and solver"
        description = """
                Run the JEDI solver
        """
        script = """
            cd ${BUMP_DIR}
            {{MPI_RUN}} {{MPI_ARGS}} ${JEDIbin}/fv3jedi_var.x ${TOP_DIR}/${CDATE}/${DAmethod}.yaml
        """

        [[[environment]]]
            rundir = ${TOP_DIR}/${CDATE}    # can use cylc workdir?
            hofxout = ${rundir}/output/hofx
            analysisout = ${rundir}/output/RESTART
            BKG_path = ${TOP_DIR}/${PREDATE}/atmos/RESTART
            ENS_path = ${DATA_DIR}/ens_c${RES}/enkfgdas.${yyyymmdd_pre}/${hh_pre}

    [[ColdRunJEDI]]
        inherit = RunJEDI
        title = "Run the Cold start of JEDI observation processing and solver"
        description = """
                Run the JEDI solver
        """
        [[[environment]]]
            BKG_path  =  ${DATA_DIR}/ens_c${RES}/enkfgdas.${yyyymmdd_pre}/${hh_pre}/mem001/RESTART
